<!DOCTYPE HTML>

<html lang="en">

    <head>
        <title>Create a new group</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
                var counts = {{ friends|tojson }};
                $( function() {
                    var availableTags = counts;
                    $( "#tags" ).autocomplete({
                        source: availableTags
                    });
                } );
            </script>
    </head>

        <body>

        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Group Expense Manager</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
                <li><a href="{{ url_for('notifications') }}"><span class="glyphicon glyphicon-bell"></span> Friend Requests</a></li>
                <li><a href="{{ url_for('getFriends') }}"><span class="glyphicon glyphicon-user"></span> Friends</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="{{ url_for('index') }}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for other users" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!--<button class="btn btn-danger navbar-btn">Button</button>-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>  

    <br>
    <br>

        	{% if problem %}
        	    <pre>Group name already exists</pre>
        	{% endif %}
                <form action="{{ url_for('createGroup') }}" method="post">
                	<pre>Group Name</pre>
					{% if groupname %}
                    <input type="text" name="groupname" id="groupname" value="{{ groupname }}" required/>
					{% else %}
					<input type="text" name="groupname" id="groupname" placeholder="Group Name" required/>
					{% endif %}
                    <div class="ui-widget">
                        <label for="tags">Add friends to the group: </label>
                        <input id="tags" name="tags">
                        <input type="submit" name="add" value="Add">
                    </div>
                    {% for name in names %}
                        <p>{{ name }}</p>
                    {% endfor %}
                    <input type="submit" name="add" value="Create Group">
                </form>
                <!--<input type="submit" name="create" value="Create Group">-->
        </body>
    
</html>
