<!DOCTYPE HTML>

<html lang="en">

    <head>
        <title>{{ groupName }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
    </head>
<body>

	<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Group Expense Manager</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
                <li><a href="{{ url_for('notifications') }}"><span class="glyphicon glyphicon-bell"></span> Friend Requests</a></li>
                <li><a href="{{ url_for('getFriends') }}"><span class="glyphicon glyphicon-user"></span> Friends</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="{{ url_for('index') }}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for other users" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!--<button class="btn btn-danger navbar-btn">Button</button>-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>  

    <br>
    <br>
	<h1> {{groupName}} </h1>
	<h1> {{admin}} </h1>
	<br> 

	{% if username==admin %}
	<p>Add more members</p>
	<form method="post" action="{{url_for('addGroupie', groupName=groupName, admin=admin, rAddr='viewGroup')}}">
		<input type="text" name="add" required />
		<input type="submit" name="submit" value="Add Memeber" />
	</form>
	{% if problem=='memeber' %}
	<p> already exists </p>
	{% endif %}
	{% endif %}

	<p>Group members:</p>
	{% for item in memebers %}
		{%if item[2]!=admin %}
			<p> {{item[2]}} </p>
			{% if username==admin %}
			<a href="{{url_for('delGroupie', admin=admin, groupName=groupName, deletie=item[2])}}"> delete </a>
			{% endif %}
		{% endif %}
	{% endfor %}

	{% if username==admin %}
			<h5><a href="{{url_for('delGroup', groupName=groupName)}}"> delete group </a></h5>
	{%endif%}

	<form method="post" action="{{url_for('addTrans', groupName=groupName, admin=admin)}}">
		<input type="text" name="fro" placeholder="From" required/>
		<input type="text" name="to" placeholder="To" required/>
		<input type="number" name="amt" placeholder=0 required/>
		<input type="submit" name="submit">
	</form>
	{% for item in ctrans.keys() %}
	{% if ctrans[item] < 0 %}
	<p> {{item[3]}} owes {{item[2]}} amount of {{ctrans[item]*-1}} </p>
	{% else %}
	<p> {{item[2]}} owes {{item[3]}} amount of {{ctrans[item]}} </p>
	{% endif %}
	{% endfor %}
	<br>
	<h3> Individual trans </h3>
	{% for item in trans %}
	<p> {{item[3]}} owes {{item[4]}} amount of {{item[5]}}</p>
	<a href="{{url_for('delTrans', groupName=groupName, admin=admin, tid=item[0])}}"> delete </a>
	{% endfor %}

	<br>
	<br>
	<h3>COMMENTS</h3>
	<!-- comments -->
	<form method="post" action="{{ url_for('addComment', par=-1, groupName=groupName, admin=admin) }}">
		<input type="text" name="comment" required />
		<input type="submit" name="submit" value="Comment">
	</form>

	{% for item in vertices recursive %}
		<div class="media">
			<div class="media-left">
      			<img src="img_avatar1.png" class="media-object" alt="" style="width:45px">
    		</div>
    		<div class="media-body">
				<h4 class="media-heading">{{comments[item]['username']}} <small><i>Posted on {{ comments[item]['commentDate'] }}</i></small></h4>
				<p> {{comments[item]['comment']}} </p>
				<form method="post" action="{{ url_for('addComment', par=item, groupName=groupName, admin=admin) }}">
					<input type="text" name="comment" required />
					<input type="submit" name="submit" value="Comment">
				</form>
				{% if comments[item]['children'] %}
					{{ loop(comments[item]['children']) }}
				{% endif %}
			</div>
		</div>
	{% endfor %}
	<br>
	<br>

</body>
</html>
