<!DOCTYPE HTML>

<html>
	<head>
		<title>Notifications</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
	</head>

	<body>
		<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Group Expense Manager</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
                <li class="active"><a href="{{ url_for('notifications') }}"><span class="glyphicon glyphicon-bell"></span> Friend Requests</a></li>
                <li><a href="{{ url_for('getFriends') }}"><span class="glyphicon glyphicon-user"></span> Friends</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="{{ url_for('index') }}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for other users" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!--<button class="btn btn-danger navbar-btn">Button</button>-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    	</nav> 
		<h1>Friend Requests</h1>
		
      		<form action="{{ url_for('notifications') }}" method="post">
      		{% for request in friendrequests %}
			<pre>You have a friend request from <a href="{{ url_for('anotheruser', result=request[0]) }}">{{ request[0] }}</a></pre>
			<p>Accept</p><input type="radio" name="{{request[0]}}" value="Accept">
			<p>Decline</p><input type="radio" name="{{request[0]}}" value="Decline">
		{% endfor %}
		{% if friendrequests %}
			<input type="submit" name="Submit" value="Submit">
		{% endif %}
		</form>
			
	</body>

</html>	
