<!DOCTYPE HTML>

<html lang="en">

        <head>
                <title>{{ anotheruser }}</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
        </head>

        <body>
                <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Group Expense Manager</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
                <li><a href="{{ url_for('notifications') }}"><span class="glyphicon glyphicon-bell"></span> Friend Requests</a></li>
                <li><a href="{{ url_for('getFriends') }}"><span class="glyphicon glyphicon-user"></span> Friends</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="{{ url_for('index') }}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for other users" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!--<button class="btn btn-danger navbar-btn">Button</button>-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>  

    <br>
    <br>
        <div class="container">
                <h1 class="text-center">I am another user {{ anotheruser }}</h1>
                {% if loggedin == 1 %}
                <form action="{{ url_for('anotheruser', result=anotheruser) }}" method="post">
                        <input type="submit" class="button" value="Add friend"/>
                </form>
                {% elif loggedin == 2 %}
                <button type="button">Request Sent</button>
                {% elif loggedin == 3 %}
                <button type="button">Friends</button>
                {% elif loggedin == 4 %}
		<button type="button">This user has sent you a friend request</button>
                {% endif %}
        </div>
    </body>

</html>
