<!DOCTYPE HTML>

<html lang="en">

    <head>
        <title>Dashboard | Group Expense Manager</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
    	<style>
             .thumbnail {
                 border-radius: 5px;
             }
             .thumbnail:hover {
                 border-style: solid;
                 border-color: #3a7999;
             }
        </style>
    </head>

    <body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Group Expense Manager</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
                <li><a href="{{ url_for('notifications') }}"><span class="glyphicon glyphicon-bell"></span> Friend Requests</a></li>
                <li><a href="{{ url_for('getFriends') }}"><span class="glyphicon glyphicon-user"></span> Friends</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="{{ url_for('index') }}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for other users" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!--<button class="btn btn-danger navbar-btn">Button</button>-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>  

    <br>
    <br>

    {%if result == "No"%}
        <div class="container">
            <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>No matches found</strong>
            </div>
        </div>  
    {%endif%}
    <div class="jumbotron text-center">
            <h1>Welcome <b>{{ username }}</b></h1>
            <br>
            <a href="{{ url_for('createGroup') }}" class="btn btn-danger navbar-btn btn-lg">Create a new group</a>
    </div>
    <div class="container">
        <div class="page-header text-center"><h3>Groups</h3></div>
    </div>
    <div class="container">
       <div class="row text-center">
        {% for i in groups.keys() %}
            <div class="col-sm-4">
                <div class="thumbnail">
		<!--<div class="well">-->
                <p> Group Name: {{i[0]}} </p>
                <p> Admin: {{i[1]}} </p>
        <!--<p>Group members:</p>
        {% for j in groups[i] %}
            <p> {{j[2]}} </p>
        {% endfor %}-->
            <a href="{{ url_for('viewGroup', groupName=i[0], admin=i[1]) }}"> View group </a>
        </div>
        </div>
        {% endfor %}
        </div>
    </div>
    </body>

</html>